<div class="container">
  <% content_for(:title_tag) do %>
  Create your cocktail
  <% end %>

  <h1>Cocktail new</h1>
  <p>Create a new cocktail - be creative</p>

  <%= render 'cocktails/form', cocktail: @cocktail %>
  <%= link_to 'Back', cocktails_path %>
</div>
